# IntelliJ IDEA
.idea/
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/encodings.xml

# Project files
*.iml
/out/

# OS & build junk
*.class
*.log
*.tmp
.DS_Store

target/